/* styles for HCS LMS */

/* ---------------------------- */
/* Universal Styles */
.course-table {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

.heading-separator {
    height: 5px; 
    background-color: #008080; 
    width: 45%;
    max-width: 450px;
} /* to be applied to a table to make line for a heading */

.splash-text-box {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    font-size: 1.1rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

/* ---------------------------- */

/* ---------------------------- */
/* splash/front page of course */
.hero-table-td-top-line {
    background-color: #008080; 
    width: 80%; 
    height: 5px;
}

.hero-image-table-non-clin {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    height: 200px;
    background-image: url("https://res.cloudinary.com/dtti7yx5s/image/upload/v1727259436/non-clin-splash_hby9zr.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-image-table-clin {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    height: 200px;
    background-image: url("https://res.cloudinary.com/dtti7yx5s/image/upload/v1727259440/splash-clin-crop_cp6hjt.webp");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-image-table-blank {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    height: 200px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-table-td-btm-line {
    height: 5px; 
    background-color: #008080; 
    width: 40%;
}

.grey-td-title-breaker {
    width: 33%; 
    max-width: 425px; 
    background-color: #f0f0f0;
}

.grey-td-title-breaker-sml {
    width: 25%; 
    max-width: 300px; 
    background-color: #f0f0f0;
}

.hcs-logo-table {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    height: 60px;
    background-image: url('https://res.cloudinary.com/dtti7yx5s/image/upload/v1727774304/logo-hcs_crfdng.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.splash-text-btm-separator-td {
    width: 66%;
    background-color: #008080;
    height: 2px;
} /* to be added to a 3 x 1 table middle td */

/* ---------------------------- */

/* ---------------------------- */
/* Generic Navigation stuff */

.nav-gif {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    height: 300px;
    background-image: url('https://lms.healthcareskills.com/pluginfile.php/44205/mod_page/content/1/scroll%20demo%20-%20Made%20with%20Clipchamp%20%281%29.gif');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

.brgr-example-idle {
    src: url('https://res.cloudinary.com/dtti7yx5s/image/upload/v1727259310/hamburger-idle_afubmc.png');
    width: 50;
    height: 39;
}

.brgr-example-hover {
    src: url('https://res.cloudinary.com/dtti7yx5s/image/upload/v1727259311/hamburger-hover_kt6srw.png');
    width: 149;
    height: 42;
}

/* ---------------------------- */

/* ---------------------------- */
/* Generic Section headers */

.header-table-nav {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    height: 100px;
    background-image: url(https://res.cloudinary.com/dtti7yx5s/image/upload/v1727259439/keyboard_kvzmod.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-table-assessment {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    height: 100px;
    background-image: url(https://res.cloudinary.com/dtti7yx5s/image/upload/v1727259438/assessment_rzboxf.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-table-classroom {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    height: 100px;
    background-image: url(https://res.cloudinary.com/dtti7yx5s/image/upload/v1727259438/study-hands_dhuysn.jpg);
    background-position: 50% 75%;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-table-book {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    height: 100px;
    background-image: url(https://res.cloudinary.com/dtti7yx5s/image/upload/v1727259437/book-pen_xgo5ct.jpg);
    background-position: 50% 85%;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-table-pen {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    height: 100px;
    background-image: url(https://res.cloudinary.com/dtti7yx5s/image/upload/v1727259437/study-pen_ieztem.jpg);
    background-position: 50% 70%;
    background-size: cover;
    background-repeat: no-repeat;
}

.sub-header-line {
    height: 4px;
    width: 40%;
    background-color: #008080;
}
    /* to be placed in lower right td of 2x2 table */

/* ---------------------------- */