/* styles for Straumann LMS */

/* ---------------------------- */
/* general styles */

.strau-header-separator {
    height: 5px;
    background-color: #46b98c;
    width: 45%;
    max-width: 450px
}

.strau-br {
    height: 3px;
    background-color: #46b98c;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

/* ---------------------------- */

/* ---------------------------- */
/* splash/front page of course */

.strau-splash {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    background-image: url("https://res.cloudinary.com/dtti7yx5s/image/upload/v1727259158/str-hero-9_jfgogj.webp");
    background-size: cover;
    background-position: 50% 60%;
    background-repeat: no-repeat;
}

.strau-logo-w {
    height: 75px; 
    background-image: url("https://res.cloudinary.com/dtti7yx5s/image/upload/v1727259221/str-group-white_ujhdjy.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.strau-splash-text-box {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    background-color: #1f2123;
    font-size: 1.25rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #cbced2;
    letter-spacing: 1px;
}

/* ---------------------------- */

/* ---------------------------- */
/* Navigation stuff */

.strau-nav-arrow {
    width: 35%;
    background-image: url("https://res.cloudinary.com/dtti7yx5s/image/upload/v1727259158/strau-nav-arrow_ybgnf1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
} /* To be inserted into the left td of a 2 column table */

/* ---------------------------- */

/* ---------------------------- */
/* headers */

.strau-line-top {
    background-color: #4e545a;
    width: 50%;
    max-width: 500px;
    height: 2px;
} /* to be added above a header banner, with a line break or space inbetween */

.strau-line-btm {
    height: 4px; 
    width: 40%;
    max-width: 400px;
    background-color: #46b98c;
}  /* to be added below a header banner, with a line break or space inbetween */

.strau-header-1 {
    margin: 0 auto;
    height: 150px;
    width: 100%; 
    max-width: 1000px;
    background-image: url("https://res.cloudinary.com/dtti7yx5s/image/upload/v1727259158/str-hero-1_vptre8.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 35%;
}

.strau-header-2 {
    margin: 0 auto;
    height: 150px;
    width: 100%; 
    max-width: 1000px;
    background-image: url("https://res.cloudinary.com/dtti7yx5s/image/upload/v1727259158/str-hero-6_fuv2wd.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 30%;
}

.strau-header-3 {
    margin: 0 auto;
    height: 150px;
    width: 100%; 
    max-width: 1000px;
    background-image: url("https://res.cloudinary.com/dtti7yx5s/image/upload/v1727259157/str-hero-5_qmb7oq.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;
}

.strau-header-4 {
    margin: 0 auto;
    height: 150px;
    width: 100%; 
    max-width: 1000px;
    background-image: url("https://res.cloudinary.com/dtti7yx5s/image/upload/v1727259157/str-hero-7_wkpo7d.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 30%;
}

.strau-header-5 {
    margin: 0 auto;
    height: 150px;
    width: 100%; 
    max-width: 1000px;
    background-image: url("https://res.cloudinary.com/dtti7yx5s/image/upload/v1727259156/str-hero-2_sxl1h0.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 23.5%;
}

.strau-header-6 {
    margin: 0 auto;
    height: 150px;
    width: 100%; 
    max-width: 1000px;
    background-image: url("https://res.cloudinary.com/dtti7yx5s/image/upload/v1727259157/str-hero-3_qlbzha.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;
}

.strau-header-7 {
    margin: 0 auto;
    height: 150px;
    width: 100%; 
    max-width: 1000px;
    background-image: url("https://res.cloudinary.com/dtti7yx5s/image/upload/v1727259156/str-hero-4_zfsqkg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
}

.strau-implantology-header {
    margin: 0 auto;
    height: 100%;
    min-height: 200px;
    max-height: 249px;
    width: 100%; 
    max-width: 1000px;
    background-image: url("https://res.cloudinary.com/dtti7yx5s/image/upload/v1727259221/implantology-hero_i1pbod.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
}

/* ---------------------------- */

/* ---------------------------- */
/* header text */

.header-text {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    background-color: #1f2123;
    color: #cbced2;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* ---------------------------- */